<h1> Product Category </h1>

<p> Buy Something from us! </p>

<table>
	
	
	
	<thead>
    <tr>
      <th>Brand</th>
      <th>Product Name</th>
      <th>Avg Rating</th>
      <th>Price</th>
    </tr>
  </thead>
	
	
	<tbody>
	<% @products.each do |product| %>
		<tr>
			<td><%= link_to product.brand.name, brand_url(product.brand.id) %></td>
			<ltd><%= link_to product.name, product_url(product) %></td>
			<td><%= product.reviews.average('rating').to_i%></td>
			<td><%= number_to_currency(product.price)%></td>
			
		
			

		</tr>
		
	<% end %>
	</tbody>
</table>

